{% load app_filters %}
{% load user_filters %}

<div id="current_portfolio_bar" class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if portfolio %}
                        {{ portfolio.name }}
                        {% else %}
                        No game selected
                        {% endif %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for active_portfolio in active_portfolios %}
                        <li><a href="{% activate_portfolio_link active_portfolio return_address %}">{{ active_portfolio.name }}</a></li>
                        {% empty %}
                        <li><a href="/games">Find a game to join.</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% if portfolio %}
            <ul class="nav pull-right">
                <li class="navbar-text">Cash on hand: {% moneyify portfolio.cash %}</li>
                <li class="navbar-text">Total Assets: {% moneyify portfolio.get_equity %}</li>
                <li class="navbar-text">Winnings: {% moneyify portfolio.winnings %}</li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
