{% extends "app/base.html" %}

{% load bootstrap %}

{% block title %}Create a Game{% endblock %}

{% block headline %}Create a Game{% endblock headline %}
{% block subhead %}{% endblock subhead %}

{% block content %}
    <form action="{% url games.views.new %}" class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn">Create the game</button>
        </div>
    </form>
{% endblock %}