{% if owned_stocks %}
<table class="table table-striped table-hover»">
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Company</th>
            <th>Current Price</th>
            {% block headers %}
            {% endblock headers %}
        </tr>
    </thead>
    <tbody>
        {% for owned, stock in owned_stocks %}
        <tr>
            <td>{{ owned.ticker }}</td>
            <td>{{ stock.company_name }}</td>
            <td>{{ stock.current_price }}</td>
            {% block cells %}
            <td>
                 <form action="{% url unwatch %}" method="POST"> {% csrf_token %}
                    <input type="submit" value="Un-Watch" />
                    <input type="hidden" name="stock" value="{{ stock.ticker }}" />
                </form>
            </td>
            {% endblock cells %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are currently no stocks</p>
{% endif %}
