{% extends "app/base.html" %}

{% block title %}{{ profile.username }}{% endblock title %}

{% load user_filters %}

{% block headline %}
{{ profile.first_name }} {{ profile.last_name }}
{% endblock headline %}

{% block subhead %}
{% if request.user == profile %} You {% else %} {{ profile.name }} {% endif %}
{% endblock subhead %}

{% block content %}

{% if portfolio %}
<h3>{{ portfolio.game.game_name }}</h3>

<p>Cash: {{ portfolio.cash }} Current Equity: {{ portfolio.get_equity }} Winnings: {{ portfolio.get_winnings }} </p>

<h4>Owned Stocks</h4>
{% list_owned portfolio %}

<h4>Watched Stocks</h4>
{% list_watched portfolio %}
<hr>
{% endif %}

<h2>Current Games</h2>
<ul>
{% for portfolio in active_portfolios %}
    <li>{{ portfolio.game.game_name }} 
        {% if request.user == profile %}
        <a href="{% activate_portfolio_link portfolio request.path %}">Select this game.</a>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock content %}
